# {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
.bg {
  background-image: url(../assets/images/background2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aqua;
}
legend {
  font-size: 25px;
}
fieldset {
  padding: 30px;
  border: 1px solid aqua;
  border-radius: 8px;
}
input {
  width: 500px;
  line-height: 30px;
  border-radius: 5px;
  background-color: transparent;
}
.recover {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  margin-right: 30px;
  margin-top: 20px;
}
.recover a {
  text-decoration: none;
  color: cornflowerblue;
}
